.swiperEffectCoverFlow {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiperEffectCoverFlow-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiperEffectCoverFlow-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}
